img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;

}

.nv-file-over {
    border: dotted 3px green;
}

input[type=file] {
    color: transparent;
}

.img-wrapper {
    position: relative;
}

.img-awaiting-approval {
    opacity: 0.5
}

.img-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    bottom: 8px;
    margin-right: auto;
    margin-left: auto;
}